$default-font-size: 0.6rem !important;
.styled.form-control {
  border: none;
}
.styled {
  border: none;
}

.styled.styled.form-control:focus {
  box-shadow: none;
  border: 1px blue solid;
}

.form-control {
  font-size: $default-font-size;
}
.app {
  font-size: $default-font-size;

  .custom_padding {
    padding: 0.375rem 0.75rem;
  }
  @media print {
    .print_hide {
      display: none;
    }
    textarea {
      resize: none;
    }
  }
}
