.countryStateDropdown :focus {
  border: 1px solid blue;
  appearance: auto;
}
.countryStateDropdown {
  width: 55%;
  border: none;
  padding: 0.375rem 0.75rem;
  appearance: none;
  font-size: 0.65rem;
}
